In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/train.csv")
test = pd.read_csv("/content/test.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
df.shape

(8693, 14)

In [ ]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [ ]:
df['num_in_group'] = df['PassengerId'].apply(lambda x: int(x.split('_')[1]))
df['num_in_group']

0       1
1       1
2       1
3       2
4       1
       ..
8688    1
8689    1
8690    1
8691    1
8692    2
Name: num_in_group, Length: 8693, dtype: int64

In [ ]:
df['num_in_group'].value_counts()

1    6217
2    1412
3     571
4     231
5     128
6      75
7      46
8      13
Name: num_in_group, dtype: int64

In [ ]:
df.isnull().sum(), df.isnull().sum().sum()

(PassengerId       0
 HomePlanet      201
 CryoSleep       217
 Cabin           199
 Destination     182
 Age             179
 VIP             203
 RoomService     181
 FoodCourt       183
 ShoppingMall    208
 Spa             183
 VRDeck          188
 Name            200
 Transported       0
 num_in_group      0
 dtype: int64, 2324)

In [ ]:
df.shape[1] *0.8

12.0

In [ ]:
# df = df.dropna(axis=0, thresh= 0.8 * df.shape[1])
# df.isnull().sum(), df.isnull().sum().sum()

In [ ]:
df.shape

(8693, 15)

In [ ]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
num_in_group      int64
dtype: object

In [ ]:
df[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = df['Cabin'].str.split('/', expand=True)

In [ ]:
cat_cols = ['HomePlanet', 'CryoSleep','Destination','VIP', 'Cabin_deck', 'Cabin_side']

In [ ]:
for col in cat_cols:
  df[col]= df[col].fillna(df[col].mode()[0])
df['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars'], dtype=object)

In [ ]:
df[cat_cols].dtypes

HomePlanet     object
CryoSleep        bool
Destination    object
VIP              bool
Cabin_deck     object
Cabin_side     object
dtype: object

In [ ]:
num_cols = ['Age','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck','Cabin_num']

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
imputer = KNNImputer()

In [ ]:
imputer.fit(df[num_cols])

KNNImputer()

In [ ]:
df[num_cols]= imputer.transform(df[num_cols])
df[num_cols].isnull().sum()

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Cabin_num       0
dtype: int64

In [ ]:
df.drop(columns = ['Name', 'PassengerId', 'Cabin'], inplace =True)

In [ ]:
df.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
num_in_group    0
Cabin_deck      0
Cabin_num       0
Cabin_side      0
dtype: int64

In [ ]:
#df['Cabin_deck'] = df['Cabin'].apply(lambda x: str(x).split('/')[0])
#df[['a','b','c']] = df['Cabin'].apply(lambda x: str(x).split('/',expand = True))
#df['Cabin_side'] = df['Cabin'].apply(lambda x: np.nan if x == np.nan else str(x).split('/')[2])

# df

In [ ]:
df['total_spent'] = df['RoomService'] + df['FoodCourt'] + df['ShoppingMall'] + df['Spa'] + df['VRDeck']
df['total_spent']

0           0.0
1         736.0
2       10383.0
3        5176.0
4        1091.0
         ...
8688     8536.0
8689        0.0
8690     1873.0
8691     4637.0
8692     4826.0
Name: total_spent, Length: 8693, dtype: float64

In [ ]:
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,num_in_group,Cabin_deck,Cabin_num,Cabin_side,total_spent
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,0.0,P,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,F,0.0,S,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,1,A,0.0,S,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,2,A,0.0,S,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,F,1.0,S,1091.0

In [ ]:
df.dtypes

HomePlanet       object
CryoSleep          bool
Destination      object
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
num_in_group      int64
Cabin_deck       object
Cabin_num       float64
Cabin_side       object
total_spent     float64
dtype: object

In [ ]:
df[['HomePlanet', 'Destination', 'Cabin_side']].value_counts()

HomePlanet  Destination    Cabin_side
Earth       TRAPPIST-1e    S             1686
                           P             1668
Mars        TRAPPIST-1e    S              759
                           P              758
Europa      TRAPPIST-1e    S              683
                           P              543
            55 Cancri e    S              482
                           P              404
Earth       55 Cancri e    S              383
            PSO J318.5-22  S              371
                           P              357
            55 Cancri e    P              338
Mars        55 Cancri e    P              102
                           S               91
            PSO J318.5-22  P               28
                           S               21
Europa      PSO J318.5-22  S               11
                           P                8
dtype: int64

In [ ]:
num_bin_cols = ['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'num_in_group', 'Cabin_num', 'total_spent']
num_bin_cols

['CryoSleep',
 'Age',
 'VIP',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'num_in_group',
 'Cabin_num',
 'total_spent']

In [ ]:
cat_cols = df.select_dtypes(include = ['object']).columns
cat_cols

Index(['HomePlanet', 'Destination', 'Cabin_deck', 'Cabin_side'], dtype='object')

In [ ]:
target = ['Transported']

In [ ]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,total_spent
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000
mean,28.806143,223.772208,452.994133,172.344001,308.668952,302.180904,1.517773,600.259128,1459.960198
std,14.374163,661.297260,1597.985058,598.782000,1126.441920,1135.400927,1.054241,507.249618,2812.152600
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,173.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,437.000000,723.000000
75%,37.400000,54.000000,78.000000,29.000000,64.000000,52.000000,2.000000,988.000000,1462.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,8.000000,1894.000000,35987.000000

In [ ]:
df.shape

(8693, 16)

In [ ]:
from scipy import stats

In [ ]:
z = np.abs(stats.zscore(df.total_spent))
z

0       0.519191
1       0.257455
2       3.173211
3       1.321498
4       0.131210
          ...
8688    2.516381
8689    0.519191
8690    0.146885
8691    1.129819
8692    1.197031
Name: total_spent, Length: 8693, dtype: float64

In [ ]:
len(z[z>3])

188

In [ ]:
ids = np.where(z>3)

In [ ]:
type(ids)

tuple

In [ ]:
len(ids[0])

188

In [ ]:
df.drop(axis=0, index=ids[0], inplace = True)
df.shape

(8505, 16)

In [ ]:
df.reset_index(drop=True, inplace = True)

In [ ]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,num_in_group,Cabin_deck,Cabin_num,Cabin_side,total_spent
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,0.0,P,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,1,F,0.0,S,736.0
2,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,2,A,0.0,S,5176.0
3,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1,F,1.0,S,1091.0
4,Earth,False,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,True,1,F,0.0,P,774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,1,A,98.0,P,8536.0
8501,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,1,G,1499.0,S,0.0
8502,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1,G,1500.0,S,1873.0
8503,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,1,E,608.0,S,4637.0
8504,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,2,E,608.0,S,4826.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df_scaled = scaler.fit_transform(df[num_bin_cols])
df_scaled = pd.DataFrame(df_scaled, columns = num_bin_cols)
df_scaled

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,total_spent
0,0.0,0.493671,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.303797,0.0,0.012695,0.000934,0.003201,0.061873,0.004473,0.000000,0.000000,0.074486
2,0.0,0.417722,0.0,0.000000,0.133188,0.047503,0.375183,0.019620,0.142857,0.000000,0.523834
3,0.0,0.202532,0.0,0.035290,0.007267,0.019334,0.063676,0.000203,0.000000,0.000528,0.110414
4,0.0,0.556962,0.0,0.000000,0.050140,0.000000,0.032796,0.000000,0.000000,0.000000,0.078332
...,...,...,...,...,...,...,...,...,...,...,...
8500,0.0,0.518987,1.0,0.000000,0.707879,0.000000,0.185168,0.007523,0.000000,0.051742,0.863880
8501,1.0,0.227848,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.791447,0.000000
8502,0.0,0.329114,0.0,0.000000,0.000000,0.239693,0.000113,0.000000,0.000000,0.791975,0.189556
8503,0.0,0.405063,0.0,0.000000,0.108897,0.000000,0.039784,0.328860,0.000000,0.321014,0.469284
8504,0.0,0.556962,0.0,0.014675,0.486660,0.000000,0.000000,0.001220,0.142857,0.321014,0.488412

In [ ]:
df[cat_cols]

     HomePlanet    Destination Cabin_deck Cabin_side
0        Europa    TRAPPIST-1e          B          P
1         Earth    TRAPPIST-1e          F          S
2        Europa    TRAPPIST-1e          A          S
3         Earth    TRAPPIST-1e          F          S
4         Earth  PSO J318.5-22          F          P
...         ...            ...        ...        ...
8500     Europa    55 Cancri e          A          P
8501      Earth  PSO J318.5-22          G          S
8502      Earth    TRAPPIST-1e          G          S
8503     Europa    55 Cancri e          E          S
8504     Europa    TRAPPIST-1e          E          S

[8505 rows x 4 columns]

In [ ]:
df_one_hot = pd.get_dummies(df[cat_cols],drop_first=True)
df_one_hot

,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_side_S
0,1,0,0,1,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,1,0,0,1
2,1,0,0,1,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,1,0,0,1
4,0,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8500,1,0,0,0,0,0,0,0,0,0,0,0
8501,0,0,1,0,0,0,0,0,0,1,0,1
8502,0,0,0,1,0,0,0,0,0,1,0,1
8503,1,0,0,0,0,0,0,1,0,0,0,1
8504,1,0,0,1,0,0,0,1,0,0,0,1

In [ ]:
df2 = pd.concat([df_scaled, df_one_hot], axis=1)
df2

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_side_S
0,0.0,0.493671,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,1,1,0,0,0,0,0,0,0
1,0.0,0.303797,0.0,0.012695,0.000934,0.003201,0.061873,0.004473,0.000000,0.000000,...,0,1,0,0,0,0,1,0,0,1
2,0.0,0.417722,0.0,0.000000,0.133188,0.047503,0.375183,0.019620,0.142857,0.000000,...,0,1,0,0,0,0,0,0,0,1
3,0.0,0.202532,0.0,0.035290,0.007267,0.019334,0.063676,0.000203,0.000000,0.000528,...,0,1,0,0,0,0,1,0,0,1
4,0.0,0.556962,0.0,0.000000,0.050140,0.000000,0.032796,0.000000,0.000000,0.000000,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8500,0.0,0.518987,1.0,0.000000,0.707879,0.000000,0.185168,0.007523,0.000000,0.051742,...,0,0,0,0,0,0,0,0,0,0
8501,1.0,0.227848,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.791447,...,1,0,0,0,0,0,0,1,0,1
8502,0.0,0.329114,0.0,0.000000,0.000000,0.239693,0.000113,0.000000,0.000000,0.791975,...,0,1,0,0,0,0,0,1,0,1
8503,0.0,0.405063,0.0,0.000000,0.108897,0.000000,0.039784,0.328860,0.000000,0.321014,...,0,0,0,0,0,1,0,0,0,1
8504,0.0,0.556962,0.0,0.014675,0.486660,0.000000,0.000000,0.001220,0.142857,0.321014,...,0,1,0,0,0,1,0,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y= df['Transported']
y

0       False
1        True
2       False
3        True
4        True
        ...
8500    False
8501    False
8502     True
8503    False
8504     True
Name: Transported, Length: 8505, dtype: bool

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df2, y, test_size=0.2, random_state =10)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((6804, 23), (1701, 23), (6804,), (1701,))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
rf = RandomForestClassifier(random_state=10)

In [ ]:
cross_val_score(rf, X_train, y_train, cv=5, verbose =1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.0s finished

array([0.8104335 , 0.78618663, 0.7803086 , 0.79720794, 0.77794118])

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_grid = {'bootstrap': [True, False],
               'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
               'max_features': ['auto', 'sqrt'],
               'min_samples_leaf': [1, 2, 4],
               'min_samples_split': [2, 5, 10],
               'n_estimators': [50, 100, 200, 300]
}

In [ ]:
rf = RandomForestClassifier(random_state=10)

In [ ]:
rand_model = RandomizedSearchCV(estimator = rf, param_distributions=param_grid,return_train_score=True,cv=5,n_iter=25, random_state=10, verbose =2)
rand_model

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=10),
                   n_iter=25,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [50, 100, 200, 300]},
                   random_state=10, return_train_score=True, verbose=2)

In [ ]:
rand_model.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV] END bootstrap=False, max_depth=20, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=20, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=20, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=20, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=20, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=300; total time=   2.3s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=300; total time=   2.2s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=300; total time=   2.3s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=300; total time=   2.3s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=300; total time=   2.3s
[CV] END bootstrap=False, max_depth=80, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=80, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=80, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=80, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=80, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=True, max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   1.8s
[CV] END bootstrap=True, max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   1.8s
[CV] END bootstrap=True, max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   1.7s
[CV] END bootstrap=True, max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   1.8s
[CV] END bootstrap=True, max_depth=10, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   1.7s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.7s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.6s
[CV] END bootstrap=True, max_depth=60, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=50; total time=   0.4s
[CV] END bootstrap=True, max_depth=60, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=50; total time=   0.4s
[CV] END bootstrap=True, max_depth=60, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=50; total time=   0.4s
[CV] END bootstrap=True, max_depth=60, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=50; total time=   0.4s
[CV] END bootstrap=True, max_depth=60, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=50; total time=   0.4s
[CV] END bootstrap=True, max_depth=None, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=None, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=None, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=None, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=None, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=40, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.7s
[CV] END bootstrap=True, max_depth=40, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.7s
[CV] END bootstrap=True, max_depth=40, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.7s
[CV] END bootstrap=True, max_depth=40, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.7s
[CV] END bootstrap=True, max_depth=40, max_features=auto, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.7s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   1.9s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   1.6s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   1.6s
[CV] END bootstrap=False, max_depth=70, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=70, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=70, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=70, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=70, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=True, max_depth=110, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=110, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=110, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=110, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=200; total time=   2.3s
[CV] END bootstrap=True, max_depth=110, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=200; total time=   1.8s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=20, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.4s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=300; total time=   2.4s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=300; total time=   2.7s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=300; total time=   2.2s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=300; total time=   2.2s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=300; total time=   2.2s
[CV] END bootstrap=True, max_depth=30, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=30, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=30, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.1s
[CV] END bootstrap=True, max_depth=30, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=30, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=60, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=60, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=60, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=60, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.1s
[CV] END bootstrap=True, max_depth=60, max_features=sqrt, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   2.1s
[CV] END bootstrap=True, max_depth=100, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s
[CV] END bootstrap=True, max_depth=100, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s
[CV] END bootstrap=True, max_depth=100, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s
[CV] END bootstrap=True, max_depth=100, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s
[CV] END bootstrap=True, max_depth=100, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s
[CV] END bootstrap=False, max_depth=110, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=110, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=110, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.2s
[CV] END bootstrap=False, max_depth=110, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=110, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.8s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.9s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.8s
[CV] END bootstrap=False, max_depth=100, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=200; total time=   1.8s
[CV] END bootstrap=True, max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s
[CV] END bootstrap=True, max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s
[CV] END bootstrap=True, max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s
[CV] END bootstrap=True, max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s
[CV] END bootstrap=True, max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s
[CV] END bootstrap=False, max_depth=50, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=50, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=50, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=50, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=50, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=200; total time=   2.1s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=300; total time=   2.7s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=300; total time=   2.7s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=300; total time=   2.6s
[CV] END bootstrap=False, max_depth=60, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   1.0s
[CV] END bootstrap=False, max_depth=60, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.9s
[CV] END bootstrap=False, max_depth=60, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   0.9s
[CV] END bootstrap=False, max_depth=60, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   1.0s
[CV] END bootstrap=False, max_depth=60, max_features=sqrt, min_samples_leaf=2, min_samples_split=5, n_estimators=100; total time=   1.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=300; total time=   2.0s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END bootstrap=True, max_depth=80, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=50; total time=   0.4s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=50; total time=   0.4s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=50; total time=   0.4s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=50; total time=   0.4s
[CV] END bootstrap=False, max_depth=70, max_features=auto, min_samples_leaf=4, min_samples_split=10, n_estimators=50; total time=   0.5s

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=10),
                   n_iter=25,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [50, 100, 200, 300]},
                   random_state=10, return_train_score=True, verbose=2)

In [ ]:
cv_results = pd.DataFrame(rand_model.cv_results_)
cv_results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_estimators,param_min_samples_split,param_min_samples_leaf,param_max_features,param_max_depth,param_bootstrap,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,1.884486,0.126298,0.082688,0.002653,200,5,2,auto,20,False,...,0.797617,0.010031,15,0.985119,0.984567,0.981444,0.983465,0.984386,0.983796,0.001291
1,2.167755,0.021543,0.115301,0.003456,300,5,1,sqrt,20,True,...,0.796000,0.012793,18,0.977953,0.977953,0.975381,0.976116,0.974284,0.976338,0.001442
2,1.849712,0.010862,0.080142,0.004346,200,5,2,sqrt,80,False,...,0.794824,0.012865,21,0.988977,0.986588,0.985119,0.984016,0.986958,0.986332,0.001690
3,1.692379,0.040362,0.088283,0.001379,300,10,4,auto,10,True,...,0.797176,0.010548,16,0.840345,0.846225,0.847143,0.839794,0.844783,0.843658,0.003030
4,2.524781,0.021150,0.105440,0.003141,300,5,4,sqrt,100,False,...,0.801144,0.012213,1,0.932941,0.935514,0.925225,0.923572,0.929831,0.929417,0.004506
5,0.355094,0.006528,0.021478,0.001377,50,2,2,auto,60,True,...,0.795118,0.012655,20,0.948190,0.950946,0.942679,0.947088,0.948016,0.947384,0.002682
6,1.899091,0.031131,0.101602,0.005091,300,5,4,sqrt,None,True,...,0.800263,0.012216,5,0.882234,0.887195,0.888113,0.883336,0.886848,0.885545,0.002318
7,0.693142,0.011942,0.040383,0.003630,100,5,2,auto,40,True,...,0.799970,0.012703,10,0.945251,0.945986,0.938453,0.941025,0.941220,0.942387,0.002823
8,1.474246,0.023592,0.148300,0.136792,200,5,1,auto,80,True,...,0.798351,0.012586,14,0.981628,0.981812,0.980893,0.979607,0.979978,0.980783,0.000873
9,2.072940,0.016717,0.092952,0.002959,200,2,1,sqrt,70,False,...,0.790416,0.009067,24,0.999816,0.999633,0.999816,0.999633,0.999816,0.999743,0.000090
10,1.562807,0.374671,0.066902,0.001703,200,5,4,auto,110,True,...,0.798793,0.013608,12,0.879111,0.885909,0.889032,0.880948,0.887950,0.884590,0.003900
11,1.336564,0.017979,0.069682,0.001433,200,10,2,sqrt,20,True,...,0.799235,0.010367,11,0.906669,0.909241,0.906853,0.908506,0.907972,0.907848,0.000977
12,2.232535,0.213072,0.125905,0.018078,300,2,2,sqrt,40,True,...,0.800262,0.013199,8,0.952600,0.953151,0.950211,0.951865,0.949853,0.951536,0.001299
13,1.925625,0.017696,0.101051,0.003116,300,5,4,sqrt,30,True,...,0.800263,0.012216,5,0.882234,0.887195,0.888113,0.883336,0.886848,0.885545,0.002318
14,1.938108,0.016962,0.101507,0.000663,300,5,4,sqrt,60,True,...,0.800263,0.012216,5,0.882234,0.887195,0.888113,0.883336,0.886848,0.885545,0.002318
15,0.745176,0.015631,0.042593,0.002909,100,5,1,sqrt,100,True,...,0.796147,0.011062,17,0.981628,0.979974,0.979607,0.979607,0.978325,0.979828,0.001060
16,2.052276,0.013386,0.093232,0.002854,200,2,1,sqrt,110,False,...,0.790416,0.009067,24,0.999816,0.999633,0.999816,0.999633,0.999816,0.999743,0.000090
17,1.773264,0.009213,0.075072,0.002253,200,10,2,sqrt,100,False,...,0.800851,0.009548,4,0.963439,0.962521,0.957193,0.961235,0.960874,0.961052,0.002136
18,0.573448,0.008604,0.032999,0.002292,100,10,4,sqrt,10,True,...,0.795119,0.010184,19,0.839978,0.844571,0.846408,0.839243,0.842763,0.842593,0.002704
19,1.996829,0.015612,0.086378,0.002730,200,5,1,auto,50,False,...,0.792768,0.008639,23,0.999081,0.999265,0.999081,0.998347,0.998530,0.998861,0.000356
20,2.516703,0.042943,0.108583,0.003526,300,2,4,auto,70,False,...,0.801144,0.012213,1,0.932941,0.935514,0.925225,0.923572,0.929831,0.929417,0.004506
21,0.918883,0.016913,0.043009,0.002798,100,5,2,sqrt,60,False,...,0.794677,0.011325,22,0.988426,0.985853,0.984751,0.982914,0.986407,0.985670,0.001823
22,1.889568,0.002741,0.099405,0.005485,300,10,4,auto,80,True,...,0.800116,0.013068,9,0.878743,0.881867,0.880948,0.875988,0.882623,0.880034,0.002406
23,1.399138,0.009506,0.075715,0.004403,200,2,2,auto,80,True,...,0.798792,0.015801,13,0.952600,0.953886,0.950028,0.951497,0.950220,0.951646,0.001456
24,0.419877,0.008804,0.022227,0.002077,50,10,4,auto,70,False,...,0.800998,0.012267,3,0.921551,0.928900,0.918611,0.922837,0.922667,0.922913,0.003355

In [ ]:
rand_model.best_estimator_

RandomForestClassifier(bootstrap=False, max_depth=100, max_features='sqrt',
                       min_samples_leaf=4, min_samples_split=5,
                       n_estimators=300, random_state=10)

In [ ]:
rand_model.best_params_

{'n_estimators': 300,
 'min_samples_split': 5,
 'min_samples_leaf': 4,
 'max_features': 'sqrt',
 'max_depth': 100,
 'bootstrap': False}

In [ ]:
rf_model = RandomForestClassifier(bootstrap=False, max_depth=100, max_features='sqrt',
                       min_samples_leaf=4, min_samples_split=5,
                       n_estimators=300, random_state=10)

In [ ]:
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=False, max_depth=100, max_features='sqrt',
                       min_samples_leaf=4, min_samples_split=5,
                       n_estimators=300, random_state=10)

In [ ]:
rf_model.score(X_test, y_test)

0.8130511463844797

In [ ]:
rf_model2 = RandomForestClassifier(bootstrap=False, max_depth=100, max_features='sqrt',
                       min_samples_leaf=4, min_samples_split=5,
                       n_estimators=300, random_state=10)

In [ ]:
rf_model2.fit(df2, y)

RandomForestClassifier(bootstrap=False, max_depth=100, max_features='sqrt',
                       min_samples_leaf=4, min_samples_split=5,
                       n_estimators=300, random_state=10)

In [ ]:
rf_model2.score(df2, y)

0.9286302175191065

In [ ]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [ ]:
test['num_in_group'] = test['PassengerId'].apply(lambda x: int(x.split('_')[1]))
test['num_in_group']

0       1
1       1
2       1
3       1
4       1
       ..
4272    2
4273    1
4274    1
4275    1
4276    1
Name: num_in_group, Length: 4277, dtype: int64

In [ ]:
test[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = test['Cabin'].str.split('/', expand=True)

In [ ]:
cat_cols = ['HomePlanet', 'CryoSleep','Destination','VIP', 'Cabin_deck', 'Cabin_side']

In [ ]:
for col in cat_cols:
  test[col]= test[col].fillna(test[col].mode()[0])
test['HomePlanet'].unique()

array(['Earth', 'Europa', 'Mars'], dtype=object)

In [ ]:
test[cat_cols].dtypes

HomePlanet     object
CryoSleep        bool
Destination    object
VIP              bool
Cabin_deck     object
Cabin_side     object
dtype: object

In [ ]:
num_cols = ['Age','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck','Cabin_num']

In [ ]:
imputer = KNNImputer()

In [ ]:
imputer.fit(test[num_cols])

KNNImputer()

In [ ]:
test[num_cols]= imputer.transform(test[num_cols])
test[num_cols].isnull().sum()

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Cabin_num       0
dtype: int64

In [ ]:
test.drop(columns = ['Name', 'PassengerId', 'Cabin'], inplace =True)

In [ ]:
test.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
num_in_group    0
Cabin_deck      0
Cabin_num       0
Cabin_side      0
dtype: int64

In [ ]:
test['total_spent'] = test['RoomService'] + test['FoodCourt'] + test['ShoppingMall'] + test['Spa'] + test['VRDeck']
test['total_spent']

0          0.0
1       2832.0
2          0.0
3       7418.0
4        645.0
         ...
4272       0.0
4273    1018.0
4274       0.0
4275    3203.0
4276       0.0
Name: total_spent, Length: 4277, dtype: float64

In [ ]:
test.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_deck,Cabin_num,Cabin_side,total_spent
0,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,1,G,3.0,S,0.0
1,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,1,F,4.0,S,2832.0
2,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,1,C,0.0,S,0.0
3,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,1,C,1.0,S,7418.0
4,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,1,F,5.0,S,645.0

In [ ]:
test.dtypes

HomePlanet       object
CryoSleep          bool
Destination      object
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
num_in_group      int64
Cabin_deck       object
Cabin_num       float64
Cabin_side       object
total_spent     float64
dtype: object

In [ ]:
test[['HomePlanet', 'Destination', 'Cabin_side']].value_counts()

HomePlanet  Destination    Cabin_side
Earth       TRAPPIST-1e    S             861
                           P             813
Mars        TRAPPIST-1e    S             426
                           P             380
Europa      TRAPPIST-1e    P             292
                           S             276
            55 Cancri e    S             226
                           P             198
Earth       PSO J318.5-22  P             188
                           S             172
            55 Cancri e    S             170
                           P             146
Mars        55 Cancri e    P              54
                           S              47
            PSO J318.5-22  S              10
                           P               8
Europa      PSO J318.5-22  P               5
                           S               5
dtype: int64

In [ ]:
# num_bin_cols = ['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'num_in_group', 'Cabin_num', 'total_spent']
# num_bin_cols

In [ ]:
cat_cols = test.select_dtypes(include = ['object']).columns
cat_cols

Index(['HomePlanet', 'Destination', 'Cabin_deck', 'Cabin_side'], dtype='object')

In [ ]:
# target = ['Transported']

In [ ]:
test.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,total_spent
count,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000,4277.000000
mean,28.633528,218.719897,435.052233,176.431938,299.052934,308.847323,1.498714,611.128034,1438.104325
std,14.062207,602.456670,1512.789587,555.418581,1105.178115,1236.962942,1.018221,509.923517,2829.732927
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,179.000000,0.000000
50%,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,454.000000,721.000000
75%,37.000000,60.000000,84.000000,38.000000,52.000000,39.000000,2.000000,1016.000000,1449.000000
max,79.000000,11567.000000,25273.000000,8292.000000,19844.000000,22272.000000,8.000000,1890.000000,33666.000000

In [ ]:
test.shape

(4277, 15)

In [ ]:
scaler = MinMaxScaler()

In [ ]:
test_scaled = scaler.fit_transform(test[num_bin_cols])
test_scaled = pd.DataFrame(test_scaled, columns = num_bin_cols)
test_scaled

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,total_spent
0,1.0,0.341772,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.001587,0.000000
1,0.0,0.240506,0.0,0.000000,0.000356,0.00000,0.142260,0.000000,0.000000,0.002116,0.084120
2,1.0,0.392405,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.481013,0.0,0.000000,0.263206,0.00000,0.009121,0.026266,0.000000,0.000529,0.220341
4,0.0,0.253165,0.0,0.000865,0.000000,0.07658,0.000000,0.000000,0.000000,0.002646,0.019159
...,...,...,...,...,...,...,...,...,...,...,...
4272,1.0,0.430380,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.142857,0.791534,0.000000
4273,0.0,0.531646,0.0,0.000000,0.033514,0.00205,0.000504,0.006466,0.000000,0.432593,0.030238
4274,1.0,0.243038,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.156614,0.000000
4275,0.0,0.392405,0.0,0.000000,0.106042,0.00000,0.000000,0.023482,0.000000,0.157143,0.095140
4276,1.0,0.544304,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.792593,0.000000

In [ ]:
test[cat_cols]

     HomePlanet    Destination Cabin_deck Cabin_side
0         Earth    TRAPPIST-1e          G          S
1         Earth    TRAPPIST-1e          F          S
2        Europa    55 Cancri e          C          S
3        Europa    TRAPPIST-1e          C          S
4         Earth    TRAPPIST-1e          F          S
...         ...            ...        ...        ...
4272      Earth    TRAPPIST-1e          G          S
4273      Earth    TRAPPIST-1e          F          S
4274       Mars    55 Cancri e          D          P
4275     Europa    TRAPPIST-1e          D          P
4276      Earth  PSO J318.5-22          G          S

[4277 rows x 4 columns]

In [ ]:
test_one_hot = pd.get_dummies(test[cat_cols],drop_first=True)
test_one_hot

,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_side_S
0,0,0,0,1,0,0,0,0,0,1,0,1
1,0,0,0,1,0,0,0,0,1,0,0,1
2,1,0,0,0,0,1,0,0,0,0,0,1
3,1,0,0,1,0,1,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,0,0,1,0,0,0,0,0,1,0,1
4273,0,0,0,1,0,0,0,0,1,0,0,1
4274,0,1,0,0,0,0,1,0,0,0,0,0
4275,1,0,0,1,0,0,1,0,0,0,0,0
4276,0,0,1,0,0,0,0,0,0,1,0,1

In [ ]:
test2 = pd.concat([test_scaled, test_one_hot], axis=1)
test2

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,num_in_group,Cabin_num,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Cabin_deck_B,Cabin_deck_C,Cabin_deck_D,Cabin_deck_E,Cabin_deck_F,Cabin_deck_G,Cabin_deck_T,Cabin_side_S
0,1.0,0.341772,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.001587,...,0,1,0,0,0,0,0,1,0,1
1,0.0,0.240506,0.0,0.000000,0.000356,0.00000,0.142260,0.000000,0.000000,0.002116,...,0,1,0,0,0,0,1,0,0,1
2,1.0,0.392405,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,1,0,0,0,0,0,1
3,0.0,0.481013,0.0,0.000000,0.263206,0.00000,0.009121,0.026266,0.000000,0.000529,...,0,1,0,1,0,0,0,0,0,1
4,0.0,0.253165,0.0,0.000865,0.000000,0.07658,0.000000,0.000000,0.000000,0.002646,...,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,1.0,0.430380,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.142857,0.791534,...,0,1,0,0,0,0,0,1,0,1
4273,0.0,0.531646,0.0,0.000000,0.033514,0.00205,0.000504,0.006466,0.000000,0.432593,...,0,1,0,0,0,0,1,0,0,1
4274,1.0,0.243038,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.156614,...,0,0,0,0,1,0,0,0,0,0
4275,0.0,0.392405,0.0,0.000000,0.106042,0.00000,0.000000,0.023482,0.000000,0.157143,...,0,1,0,0,1,0,0,0,0,0
4276,1.0,0.544304,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.792593,...,1,0,0,0,0,0,0,1,0,1

In [ ]:
# predict : rf_model, rf_model2

In [ ]:
sub = pd.read_csv('/content/sample_submission.csv')
sub

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [ ]:
res = rf_model.predict(test2)
res

array([ True, False,  True, ...,  True, False,  True])

In [ ]:
sub['Transported'] = res

In [ ]:
sub.to_csv('space_out_1.csv', index = False)

In [ ]:
res2 = rf_model2.predict(test2)
res2

array([ True, False,  True, ...,  True, False,  True])

In [ ]:
sub['Transported'] = res2

In [ ]:
sub.to_csv('space_out_2.csv', index = False)